/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,300;1,400&family=Lato:ital,wght@0,300;0,700;1,400&family=Open+Sans&family=Roboto:ital,wght@1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
html{
    background-color: #aacee7;
}

header{
    background-color:#3a5a40;
    text-align:left;
    text-decoration: wavy;
    padding:0px;
    min-height: 50px;
   
}
.column p{
    font-family: 'Times New Roman';
}


.weather{
    background-color: #333;
    padding: 10px;
    font-size: 15px;
    color: white;
    border: none;
    transition: transform 0.5s;
}

.weather:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
    border-radius: 50px;
    color: black;
}
h1{
    background-color:burlywood ;
    text-align: center;
    padding: 20px;
    max-height: 50px;
}

body{
    text-align: left;
    background-color: #fdfdfd;   
}
        
nav{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

nav li a{
    padding: 10px;
    display: grid;
    margin: 10px;

}

nav a:hover, nav a:active, nav a:visited, nav a:link{
    color: white;
    text-decoration: none;
    display: grid;
    transition: 0.5s;
    border-radius: 50px;


}

nav a:hover,nav a:active{
    background-color: whitesmoke;
    transform: scale(1.1);
    color: black;
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: center; */
    padding: 5px;
    
    
}

nav ul li{
    list-style: none;
   
}

/* slide show */
#slider{
    overflow: hidden;
}
#slider .div{
    position: relative;
    width: 1500px; 
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    /* background-color: #cfe1ee;
    border: #333 solid;
    border-radius: 50px; */
}



#slider figure img{

    width:200px; 
    
} 
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
/* end slide show */


 .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
.row{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 10px;
}

.column {
    width: 30%;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ;

} 

.column img{
 padding-left: 50px;
} 
.column:hover{
    background-color: antiquewhite;
    transform: scale(1.1);
}

img{
    height:300px;
    width: 300px;
    min-height: 50px;
    margin: 10px;
}
.bottom{
    width: 1300px;

    
}
.service-area .container h2{
    font-size: 50px;
}

.about-area{
    padding: 20px 0;
    min-height: 100px;
}

.about-title{
    text-align: center;
    margin-bottom: 40px;
}

.about-title h4{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.service-area{
    padding: 40px 0;
    background-color: #fdfdfd;
    text-align: center;
    text-transform: capitalize;
}

.section-title{
    text-align: center;
    margin-bottom: 25px;
}

.section-title h2{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}

.Services{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;

    
}

.single-service{
    width: 24%;
    padding: 16px;
    background-color: burlywood;
    margin: 20px;
}

.single-service img{
    width:90% ;
}

.single-service h4{
    text-align: center;
    font-size: 20px ;
    background-color: burlywood;
    color: #fdfdfd;
    padding: 10px;
}
.single-service a{
    text-transform: capitalize;
    background-color: burlywood;
    color: black;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    transition: 1s;

}
.rm{
    padding-top: 500px;
    text-decoration: none;
}
.single-service a:hover{
    border: 2px solid lightblue;
    border-radius: 10px;
    color: rgb(106, 106, 10);
    background:transparent;
    background-color: rgb(217, 214, 209);
}

.contact-area{
    background-color: #fdfdfd;
    padding: 10px 0;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
}

.contact-form{
    width: 60%;
    margin-right: 30px;
    margin-left: 300px;
    
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid white;
}

.contact-form input[type='submit']{
    background-color: green;
    color: #fdfdfd;
    border: 0;
    font-size: 22px;
    font-weight: bold;
}
footer{
    
    padding:0px;
    background-color:#3a5a40;
    text-align: center;

}
.single-contact{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
}
.single-contact i{
    background-color: green;
    width: 10px;
    height: 10px;
    color:#110b0b;
    border-radius: 30px;
    text-align: center;
    line-height: 10px;
    margin-right: 5px;
   
}

.single-contact h4{
    text-transform: capitalize;
    font-weight: bold;
    font: 10px;
    text-align: left;
}

.single-contact h4 span{
    display: block;
    font-weight: normal;
    font-size: 16px;
}

p{
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
}
h3{
    text-align: center;
    font-size: large;
}
img{
    height: 200px;
    width: 200px;

}
.fa {  
    padding: 20px;  
  text-align: center;  
    font-size: 10px;  
    width: 20px; 
    text-decoration: none;
    border-radius: 50%; 
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  } 
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

label {
    font-weight: bold;

}
.title{
    background-color: #333; ;
}
.inpt{
    display: flex;
}


input[type="text"],
select,
textarea {
    width: 800px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
#review-form{
    width: 1000px;
}

#all-reviews {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

/* Style reviews here */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#map {
    height: 400px;
    width: 100%;
}







    
